@font-face {
  font-family: 'Satoshi';
  font-display: swap;
  src: url('/fonts/Satoshi-Variable.woff2') format('woff2');
}
@font-face {
  font-family: 'Satoshi';
  font-display: swap;
  font-style: italic;
  src: url('/fonts/Satoshi-VariableItalic.woff2') format('woff2');
}
